NEXT_PUBLIC_API_URL=http://localhost:5008/api/v1
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_your_publishable_key
NEXTAUTH_SECRET=3PPMcIG12ueHmZqFGJhWqoFG5+YClxZHsBCIfMn+iSs=
NEXTAUTH_URL=http://localhost:3000
